/* General rules */
* {
  box-sizing: border-box;
  --main-color: #202020;
}

@import url(https://fonts.googleapis.com/css?family=Bangers);

body,
button,
input {
  font-family: "Bangers", cursive;
}

input::placeholder {
  color: var(--main-color);
}

.main-container {
  position: relative;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Header */

header {
  background-color: var(--main-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85vw;
  margin: 0 auto;
  padding: 10px 0;
}

header img {
  width: 130px;
  cursor: pointer;
}

header form {
  width: 50%;

  text-align: center;
}

header form input {
  width: 60%;
  height: 5vh;
  padding: 10px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header nav button {
  background-color: #202020;
  border: 1px solid #202020;
  color: white;
  padding: 15px;
  font-size: 2vw;
  cursor: pointer;
}

header nav button:last-child {
  padding-right: 0px;
}

/*Component Item */

.item {
  position: relative;
  margin-top: 30px;
  width: calc((100% / 4) - 60px);
  background-color: var(--main-color);
  border: solid var(--main-color);
  border-color: var(--main-color);
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.item img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
}

.item-info {
  position: absolute;
  bottom: 40px;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 1.5vw;
  font-weight: 700;
  background-color: var(--main-color);
  border: solid var(--main-color);
  border-color: var(--main-color);
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
}

.view {
  display: inherit;
}

.hide {
  display: none;
}

/* Page Comic */

.comic-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5vw;
}

/* Page  Character */

.character-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.character-info-desc {
  width: 50%;
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  border-width: 5px 3px 3px 5px;
  border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
  transform: rotate(2deg);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.character-info-desc h4 {
  font-size: 3vw;
}

.character-info-desc p {
  font-size: 2vw;
  padding: 20px 0;
}

/* SearchResultModal */
.search-result-modal-container {
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: rgba(102, 102, 102, 0.5);
}

.search-result-item {
  padding: 10px 5px;
}

.search-result-item:hover {
  background-color: #ec1c23;
  color: white;
  cursor: pointer;
}

.paginate-container {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 50%;
  font-size: 1.5em;
}

.page-num {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
}

.page-num:hover {
  background-color: red;
  color: white;
}

.active {
  background-color: red;
  color: white;
}
